{% extends 'base.html' %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='/css/create.css') }}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}
    <div class="title">
        <h3>Digite o nome da receita que deseja adicionar.</h3>
    </div>
    <div class="a">
        <form class="all" method="POST">
            <div class="interna">
            Nome da receita: <input required type="text" name="nome" id="nome_id">
            </div>
            <div class="droplist">
                <div class="text">Insira os ingredientes Desejados</div>
                <select multiple required name="ingredientes" id="ingredientes">
                    {% for ingrediente in ingredientes %}
                        <option value="{{ingrediente.id}}">{{ ingrediente.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="descri">
                <div>Descreva os passos, separados por uma vírgula:</div>
                <textarea required name="descricao" id="descricao_id" cols="60" rows="10"></textarea>
            </div>
            <button type="submit">enviar receita</button>
        </form>
        
    </div>

{% endblock content %}