.all{
    color: white;
    margin-top: 2% auto;
}
.title{
    text-align: center;
    margin: 0.5% auto;
}

.a{
    background: #9400D3;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.droplist{
    margin-top: 5px;
    align-items: center;
}

.descri{
    margin-top: 5px;
    align-items: center;
    margin-bottom: 5px;
}
.interna{
    margin-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.nomeIng{
    color: white;
}