.quadrado{
    margin: 1% auto;
    width: 60%;
    border-radius: 10px;
    background: #9400D3;
    position: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.title{
    text-align: center;
}

a{
    color: white;
}