{% extends 'base.html' %}

{% block extra_css %}
<link href="/static/css/home.css" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<h1 class="welcome">SEJA BEM-VINDO</h1>

<h2 class="subtitulo-home">APRENDA A UTILIZAR O SISTEMA</h2>
<div class="instructions">
    <h3 class="instruction">1. Acesse o menu receitas para ver as receitas disponíveis e para adicionar uma nova receita. </h3>

    <h3 class="instruction">2. Acessando o menu de ingredientes é possível visualizar todos os ingredientes cadastrados e também adicionar ingredientes novos ao sistema.</h3>

    <h3 class="instruction">3. Para adicionar uma nova receita será necessário adicionar os ingredientes que serão usados, adicionar o passo a passo e também a quantidade de cada ingrediente.</h3>

</div>
{% endblock content %}